@model api_fetch.Areas.Root.ViewModel.Income.IncomeVm
<div class="main-container">
    <form method="post">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Add Income</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="CategoryId"></label>
                                            <select name="CategoryId" asp-for="CategoryId" asp-items="@Model.GetIncome()" class="form-control chosen">
                                                <option value="">--Select Source--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Amount"></label>
                                            <input type="text" asp-for="Amount" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Date"></label>
                                             <vc:date-input value="@Model.Date" name="Date"  required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label asp-for="Description"></label>
                                            <input type="text" asp-for="Description" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>