<div class="main-container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label></label>
                                    <vc:date-input value="DateTime.Today"/>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-primary btn-block">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 text-center">
                            <strong>Income List</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <td>S.N</td>
                            <td>Source</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-success">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Update
                                </a>
                                <a class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                    Update
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>