@model api_fetch.ViewModel.UserAddVm
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/css/Style.css">

</head>
<body class="img js-fullheight" style="background-image: url('/image/bg.jpg');">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">New Account?</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form method="post" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" required asp-for="UserName" name="UserName">
							</div>
							<div class="form-group">
								<input type="text"  class="form-control" placeholder="Contact Number" asp-for="Phone" name="Phone" />
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" asp-for="Email" name="Email"/>
							</div>
							<div class="form-group">
								<input id="psw" type="password" class="form-control" placeholder="Password" asp-for="Password" name="Password" required>
								<span toggle="#password-field"></span>
							</div>
							<div class="form-group">
								<input id="cpsw"  type="password" class="form-control" placeholder="Confirm Password" required/>
								<span toggle="#password-field"  asp-validation-for="ConfirmPassword" id="msg" style="color:red;"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
							</div>		
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/popper.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>
@section Scripts{
	<script>
		document.addEventListener('DOMContentLoaded',()=>{
			const password = document.getElementById('psw');
			const confirmPassword = document.getElementById('cpsw');
			const msg = document.getElementById('msg');

			function ValidatePassword(){
				const pswInput = password.value;
				const cpswInput = confirmPassword.value;
				if(cpswInput !== "" && pswInput !== cpswInput ){
					msg.innerText ="Password do not match!";
				}else{
					msg.innerText = "";
				}
				console.log(pswInput);
			}
			ValidatePassword();
			confirmPassword.addEventListener('input',ValidatePassword);
		});
	</script>
}