
<a href="@Url.Action("Index", "Expenses")"
   class="btn btn-sm btn-primary"
   data-toggle="tooltip" data-original-title="List Vehicle Category"
   data-placement="top">
    <i class="fa fa-list"></i> List
</a>
<a href="@Url.Action("Add", "Expenses")"
   class="btn btn-sm btn-primary"
   data-toggle="tooltip" data-original-title="List Vehicle Category"
   data-placement="top">

    <i class="fa fa-plus"></i> Add
</a>


