@model api_fetch.Areas.Root.ViewModel.Expenses.ExpensesVm
@using App.Expenses.Enum

<div class="main-container">
    <form method="post">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Add Expenses</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Expenses"></label>
                                            <select class="form-control chosen" asp-for="Expenses" asp-items="@Model.GetCategories()">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Amount"></label>
                                            <input type="text" asp-for="Amount" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Status"></label>
                                            <select asp-for="Status" asp-items="@Html.GetEnumSelectList<PaymentStatus>()" class="form-control chosen">
                                              <option value="">--Select Status--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Date"></label>
                                            <vc:date-input value="@Model.Date" name="Date"  required="true"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label asp-for="Description"></label>
                                            <input type="text" asp-for="Description" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>